

.image1 {
  width: 6%;
  margin-left: 4%;
  

}

.titlered{
 text-align: center;
 margin-left: 20%;
 font-size: 240%;

}

.title {

  display: flex;
  margin-top:4%;
}

.image2 {

  text-align: center;
}

.carte {

  margin-top: 9%;
}

.cartes {

  display:flex;
  justify-content: space-around;
}

.sequence {

  width: 30%;
  height: 30%;
  margin-top:6%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4%;
}